// Breakpoints
$breakpoints: (
  "wide": (
    max-width: 1600px,
  ),
  "x-large": (
    max-width: 1440px,
  ),
  "large": (
    max-width: 1200px,
  ),
  "medium": (
    max-width: 992px,
  ),
  "small-medium": (
    max-width: 640px,
  ),
  "small": (
    max-width: 576px,
  ),
  "x-small": (
    max-width: 400px,
  ),
) !default;

// colors

$dark: #2a0944;
$dark-light: #3b185f;
$pink: #a12568;
$yellow: #fec260;
$light: #eeeeee;

$radius: 8px;

$border: 3px solid $pink;
