@import "/src/constants/scss/__base.scss";

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
 
 
  .projectContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;


  }
}

