@import "/src/constants/scss/__base.scss";

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  .background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(10px) brightness(0.6);
  }

  .container {
    width: 80%;
    height: 80%;
    border: 2px solid $green;
    background: $dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $radius;
    opacity: 0.9;

    .pathContainer {
      padding: 14px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $dark-light;
      border-radius: 16px;
      box-shadow: inset 0px 0px 10px $dark-lighter;

      .pathText {
        color: $green;
        font-size: 18px;
        font-family: "Ubuntu Mono", monospace;
      }

      .timeText {
        color: $green;
        font-size: 18px;
        font-family: "Ubuntu Mono", monospace;
      }
    }

    .navContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
    }
  }
}
