@import "/src/constants/scss/__base.scss";

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  .background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    // background: url("https://i.gifer.com/VJi.gif") no-repeat;
    // background: url("/assets/images/background.jpg") no-repeat;
    // background: url("/assets/background.mp4") no-repeat;
    // background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    filter: blur(2px) brightness(0.6);
  }

  .container {
    width: 80%;
    height: 80%;
    border: 5px solid $green;
    background: $dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
  }
}
