@import "/src/constants/scss/__base.scss";

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  .background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(10px) brightness(0.6);
  }

  .container {
    width: 80%;
    height: 80%;
    border: 2px solid $green;
    background: $dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    .pathContainer {
      width: 100%;
      padding: 16px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .pathText {
        color: $green;
        font-size: 18px;
        font-family: "Ubuntu Mono", monospace;
      }

      .timeText {
        color: $green;
        font-size: 18px;
        font-family: "Ubuntu Mono", monospace;
      }
    }
  }
}
