@import "/src/constants/scss/__base.scss";

.main {
    width: 400px;
    height: 410px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: $dark-light;
    border: $border;
    border-radius: $radius;
    justify-content: space-between;
   

    img {
        width: 100%;
    }

    .description {
        color: $light;
    }

    .buttonWrapper {
        display: flex;
        align-items: center;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            border: none;
            border-radius: $radius;
            background-color: $yellow;
            color: $dark;
            font-size: 20px;
            border: $border;
            border-width: 2px;
            cursor: pointer;
            transition: background-color 0.3s;
        &:nth-child(1) {
            margin-right: 10px;
        }
        
            &:hover {
                background-color: $pink;
                color: $light;
                border: $border;
                border-color: $yellow;
                border-width: 2px;
            }
        }
    }
}